!!!5
%html{class:"no-js", lang:"es"}
  %head
    %meta{charset:"utf-8"}
    %title Restaurante Hello Food
    %link{rel:"stylesheet", href:"style.css"}
    %meta{name:"description", content:"Come rico y barato en el mejor restaurante de la ciudad,
                servicio de primera. Los mejores platos de la ciudad"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
  %body
    %p#message Parece que no pudimos conectarnos a internet, no hay problema aquí está la información que necesitas
    .container
      %h1 Restaurante Hello Food
      %p
        %strong Dirección:
        Av. 51 # 45-06 cra 12 Barichara, San Antonio de Prado
      %p
        %strong Horario:
        10 AM - 4 PM
      %p
        %strong Telefono:
        1234567890
      %p
        %strong Descripción:
        Comida hecha por los mejores chefs, encontrarás comida local como internacional ven y disfruta
        con tu familia
      #map
        %img{src:"map.png", alt:"Image not found"}
        %p Este mapa ofrece referencias del lugar del restaurante
